body {
  background-image: url("../assets/vertical-waves/vertical-waves.png");
}

a {
  color: #4286f4;
}


header {
  text-align: center;
}

header h1 {
  font-family: 'Ubuntu', sans-serif;
}

header h2 {
  font-family: 'Muli', sans-serif;
}

header h3 a {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

.paragraphs {
  padding-top: 10px;
}

.paragraph-title {
  font-family: 'Ubuntu', sans-serif;
}

.paragraph-text {
  font-family: 'Roboto', sans-serif;
}

#blackthursdayorm {
  display: block;
  margin: auto;
  width: 1000px;
  height: auto;
}

#gifcontainer {
  display: block;
  text-align: center;
}

.cat-gifs {
  display: inline-block;
  padding-top: 10px;
  height: 250px;
}
