header {
  text-align: center;
}

.paragraphs {
  padding-top: 10px;
}

.paragraph-title {
  font-family: 'Ubuntu', sans-serif;
}

.paragraph-text {
  font-family: sans-serif;
}

#blackthursdayorm {
  display: block;
  margin: auto;
  width: 1000px;
  height: auto;
}
