body {
  background-image: url("../assets/vertical-waves/vertical-waves.png");
  text-align: center;
}

a {
  color: #4286f4;
}

#headerpic {
  width: 100%;
}

#sitetitle {
  font-family: 'Ubuntu', sans-serif;
}

#name {
  font-family: 'Muli', sans-serif;
}

#blogpost {
  padding-top: 20px;
}

#blogpost h4 a {
  font-family: 'Inconsolata', sans-serif;
}
